#flush-left-content {
  margin-left: 4em;
  font-family: 'Segoe UI', Calibri, Candara, Segoe, Optima, Arial, sans-serif;
  color: RGB(63, 63, 63);
}
#flush-left-content h1 {
  border-bottom: 1px solid #73af55;
  color: RGB(146, 208, 80);
  display: inline-block;
  padding-bottom: 5px;
  font-family: 'Segoe UI', Calibri, Candara, Segoe, Optima, Arial, sans-serif;
  font-size: 80%;
  font-weight: normal;
  margin-bottom: 2em;
  text-transform: uppercase;
  width: 400px;
}
#flush-left-content h1 span {
  font-size: 150%;
  color: #73af55;
}
#flush-left-content p,
#flush-left-content ol,
#flush-left-content ul {
  width: 800px;
}
#flush-left-content .left-links {
  display: inline-block;
  width: 400px;
}
#flush-left-content .left-links a,
#flush-left-content .left-links a:visited {
  color: #73af55;
}
#flush-left-content .left-links .current-page-link a,
#flush-left-content .left-links .current-page-link a:visited {
  color: orange;
}
#flush-left-content ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
#flush-left-content .left-links ul ul {
  padding-left: 1em;
}
#flush-left-content .right-content {
  display: inline-block;
  vertical-align: top;
  width: 500px;
}
#flush-left-content h2 {
  color: RGB(146, 208, 80);
  display: inline-block;
  font-family: 'Segoe UI', Calibri, Candara, Segoe, Optima, Arial, sans-serif;
  font-size: 80%;
  font-weight: normal;
  margin-bottom: 2em;
  text-transform: uppercase;
}
#flush-left-content #deacon-list li {
  display: inline-block;
  width: 315px;
}
