{
  "extends": ["react-app", "eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "no-restricted-syntax": [
      "error",
      {
        "selector": "VariableDeclarator[id.name='USE_TEST_DATA'][init.value=true]",
        "message": "Disable test field generators before commit"
      }
    ],
    "no-useless-computed-key": "error",
    "prefer-template": "error",
    "quotes": ["error", "single"],
    "react/jsx-sort-props": "error",
    "react/sort-prop-types": "error",
    "react/sort-comp": "error",
    "react/prop-types": "error",
    "react/no-unused-prop-types": "error",
    "semi": "error"
  },
  "overrides": [
    {
      "files": "*.test.js",
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ]
}
