{
  "extends": ["react-app", "eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "comma-dangle": ["error", "never"],
    "max-len": ["error", 120],
    "no-console": "error",
    "no-restricted-syntax": [
      "error",
      {
        "selector": "VariableDeclarator[id.name='USE_TEST_DATA'][init.value=true]",
        "message": "Disable test field generators before commit"
      }
    ],
    "no-underscore-dangle": "warn",
    "no-useless-computed-key": "error",
    "object-curly-spacing": ["error", "never"],
    "object-curly-newline": [
      "error",
      {
        "consistent": true
      }
    ],
    "object-shorthand": "warn",
    "prefer-template": "error",
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "react/jsx-sort-props": "error",
    "react/jsx-filename-extension": "warn",
    "react/jsx-no-useless-fragment": "error",
    "react/sort-prop-types": "error",
    "react/sort-comp": "error",
    "react/prop-types": "error",
    "react/no-unused-prop-types": "error",
    "semi": "error"
  },
  "overrides": [
    {
      "files": "*.test.js",
      "rules": {
        "no-unused-expressions": "off",
        "react/jsx-props-no-spreading": "off",
        "react/jsx-filename-extension": "off"
      }
    }
  ]
}
