# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

#styling
*.css

# misc
.DS_Store
.env
*debug.log*
yarn-error.log*
.swp
.history/
.vscode/
reference_files/

