@import '../_variables.scss';

#ce-page {
  margin-left: 4em;
  font-family: $calibri;
  font-size: 18px;
  color: $gray63;

  h1 {
    border-bottom: 1px solid $green-50;
    color: $green-20;
    display: block;
    padding-bottom: 5px;
    font-family: $century-gothic;
    font-size: 110%;
    font-weight: normal;
    margin-bottom: 2em;
    text-transform: uppercase;
    width: 400px;

    .emphwelcomeline {
      font-size: 130%;
      color: $green-80;
    }
  }

  .vision-quote {
    font-weight: bold;
    font-style: italic;
  }

  .ce-page-links-content {
    display: flex;
    align-content: stretch;
  }

  .ce-page-left-content {
    flex-shrink: 0;
    max-width: 30%;
    min-width: 200px;
  }

  .ce-page-right-content {
    display: inline-block;
    max-width: 800px;
    vertical-align: top;
  }

  h2 {
    color: $green-20;
    font-family: $century-gothic;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 1em;
    text-transform: uppercase;

    &.yeargin-name {
      text-transform: none;
      margin-bottom: 0;
    }
  }

  .h2-sub {
    color: $green-50;
    font-family: $century-gothic;
    font-size: 14px;
    margin: 0;
    padding: 0.2em;
    text-transform: uppercase;
  }

  h3.list-desc {
    color: $black;
    font-size: 18px;
    margin-bottom: 0;
  }

  ul {
    margin-top: 6px;
  }

  h2.member-header {
    margin-top: 3em;
  }

  .ce-list-half {
    display: inline-block;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    vertical-align: top;
    width: 315px;

    li {
      .title {
        font-size: 80%;
      }

      .title::before {
        content: ', ';
      }
    }
  }

  .volunt-reg-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 2em 0 2em;

    button {
      background-color: $white;
      display: block;
      height: 40px;
      width: 200px;
    }
  }

  .left-button.vbs {
    border-color: $green-50;
    color: $green-50;
  }

  .right-button.vbs {
    background-color: $green-50;
    border-color: $green-50;
    color: $white;
  }

  .left-button.childrens-church {
    border-color: $orange;
    color: $orange;
  }

  .right-button.childrens-church {
    background-color: $orange;
    border-color: $orange;
    color: $white;
  }
}
