.admin-page {
  padding: 2em; }
  .admin-page table {
    border-collapse: collapse;
    border: 1px solid black;
    overflow-y: scroll; }
    .admin-page table td,
    .admin-page table th {
      border: 1px solid black;
      padding: 0.5em; }

.event-item {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  margin-top: 1em;
  border: 1px solid black;
  padding: 0.5em; }
