@import '../../_variables.scss';

h1 {
  font-family: $century-gothic;
  font-weight: normal;
}

#calendar-menu {
  display: block;
  margin: 16px 0;
  padding: 0;
  position: relative;

  ul {
    box-sizing: border-box;
    // border: 1px solid black;
    display: inline-block;
    justify-content: flex-start;
    min-width: initial;
    padding: 0;
    width: initial;
  }

  li {
    border: none;
    display: inline-block;
  }

  li a,
  li a:visited {
    color: $green-50;
    padding: 0 12px;
    text-align: center;
    text-decoration: none;
  }

  li.current-page-link {
    border: 1px solid black;
    border-bottom: none;
  }

  li:not(.current-page-link) {
    border-bottom: 1px solid black;
  }

  li.current-page-link a,
  li.current-page-link a:visited {
    color: black;
  }

  .styling-div {
    bottom: 0;
    border-bottom: 1px solid black;
    display: inline-block;
    position: absolute;
    width: 20%;
  }
}

#calendar-div {
  margin: 0 auto;
}

#calendar-table td.other-month {
  opacity: 0.5;
}

#calendar-table td {
  height: 75px;
  width: 150px;
}

#calendar-table td > div {
  width: 100%;
  height: 100%;
  padding: 5px;
}

#calendar-table td > div .date-area {
  padding-bottom: 8px;
}

#calendar-table td > div .events-area {
  height: 38px;
  overflow-y: auto;
}

.calendar-month-name {
  text-align: center;
}

.controls-and-title {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .drop-downs {
    width: 300px;
  }

  .month-arrows {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .month-arrows h2 {
    margin: 0.8em 1em;
    width: 150px;
    text-align: center;
  }

  .empty-space {
    width: 300px;
  }
}

table {
  border-collapse: collapse;
  margin: auto;
}

table,
th,
td {
  border: 1px solid black;
  padding: 5px;
}
