.mini-calendar {
  width: 300px;

  .controls-and-month-name {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-bottom: 1em;

    &.no-controls {
      justify-content: center;
      margin-bottom: 0.3em;
    }

    i {
      border: 1px solid gray;
      border-radius: 10px;
      padding: 0 5px;
    }
  }

  table {
    border-collapse: collapse;
    box-sizing: border-box;
    margin: auto;
    table-layout: fixed;
    width: 100%;

    th,
    td {
      border: 1px solid black;
      height: 40px;
      text-align: center;
      vertical-align: middle;

      &.other-month {
        opacity: 0.5;
      }

      &.has-events {
        background-color: yellow;
      }

      &.clickable {
        cursor: pointer;
      }

      &.selected-day {
        background-color: red;
      }
    }
  }
}
