.mini-calendar {
  .controls-and-month-name {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-bottom: 1em;

    i {
      border: 1px solid gray;
      border-radius: 10px;
      padding: 0 5px;
    }
  }

  table {
    border-collapse: collapse;
    margin: auto;

    th,
    td {
      border: 1px solid black;
      height: 40px;
      text-align: center;
      vertical-align: middle;
      width: 40px;

      &.other-month {
        opacity: 0.5;
      }

      &.has-events {
        background-color: yellow;
        cursor: pointer;
      }

      &.selected-day {
        background-color: red;
      }
    }
  }
}
