.registration-page {
  box-shadow: 6px 6px 6px 0 #c2c2c2;
  border: 1px solid gray;
  font-family: var(--century-gothic);
  margin: 1em auto;
  padding: 0.2em 1em 2em 1em;
  width: 600px;

  h1 {
    font-family: var(--garamond);
    font-weight: normal;
    font-size: 48px;
    color: var(--orange);
    margin-bottom: 0px;
    margin-top: 16px;
  }

  h2 {
    font-weight: normal;
    font-family: var(--garamond);
    font-size: 24px;
    color: var(--orange);
    margin-top: 0px;
  }

  h1.vbs-header,
  h2.vbs-header {
    color: var(--green-50);
  }

  h3 {
    color: var(--gray95);
  }

  p {
    color: var(--gray95);
  }

  input[type='checkbox'] {
    color: var(--red);
    box-shadow: 0 0 0 0;
  }

  .error-list {
    color: var(--gray95);
  }

  .error-list ul {
    margin-top: 0.2em;
  }

  .error-list i {
    color: var(--orange);
  }

  .success {
    background-color: var(--green);
  }

  .failure {
    background-color: var(--red);
  }

  label {
    color: var(--gray95);
    font-family: var(--century-gothic);
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
  }

  .checklist-pattern > label {
    color: var(--green-50);
  }

  .registration-checkbox > label {
    color: var(--green-50);
  }

  .registration-modal {
    ul {
      list-style-type: none;
      padding: 0;

      li {
        line-height: 1.5;
      }

      .check-list-summary li {
        padding: 0 15px;
      }
    }

    button {
      margin-right: 1em;
    }
  }

  .registration-disclaimer {
    font-family: var(--calibri);
  }
}
