@import '../../../_variables.scss';

.registration-landing {
  display: flex;
  flex-grow: 2;
  position: relative;

  .button-div {
    position: absolute;
    background-color: transparent;
    color: inherit;
    display: block;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%);
    bottom: 20%;
  }

  button {
    background-color: transparent;
    border: 1px solid;
    color: inherit;
    display: block;
    padding: 1.5em;
    margin: 0 auto;
  }
}

.left-side {
  // background image added inline because it's a static assset
  // background-image: url(ccregpicture.png)
  background-size: 100%;
  color: $white;
  flex-basis: 0;
  flex-grow: 1;
  position: relative;

  img {
    overflow-y: hidden;
    position: absolute;
    width: 100%;
    z-index: 0;
  }
}

.right-side {
  position: relative;
  flex-basis: 0;
  flex-grow: 1;
}

div.sentence {
  position: absolute;
  font-size: 300%;
  margin: 20vh 0 2em 10%;
  z-index: 2;

  span {
    display: block;
  }

  span.first-part {
    font-weight: bold;
    text-transform: uppercase;
  }

  span.rest-of-sentence {
    font-family: $century-gothic;
  }
}
