.home-page-bottom-content {
	width: 80%;
	min-width: 800px;
	max-width: 1000px;
	margin:auto;
	margin: 3em auto;
	justify-content: space-between;
}

.home-page-bottom-content	div {
		border: 1px solid gray;
		width: 200px;
		height: 200px;
	}
