@import '../variables';

.stream-services {
  background-color: $light-blue;
  color: $white;
  font-size: 150%;
  padding: 32px 0px 48px 96px;

  a {
    color: white;
  }

  .further-info {
    font-size: 12px;
  }
}

.three-boxes {
  display: flex;
  justify-content: center;

  div {
    flex: 1 1 auto;
  }

  img {
    width: 100%;
    height: auto;
  }
}
