@import '../variables';

.main-footer {
  background-color: $light-blue;
  display: flex;
  color: $white;
  font-size: 12px;
  line-height: 200%;
  padding: 16px 0;

  a {
    display: block;
    color: $white;
  }

  & > div {
    margin: 16px;
    padding: 0 8px;
  }

  // first two divs
  > div:nth-child(-n + 2) {
    border-right: 1px solid $white;
  }

  > div:nth-child(3) {
    flex-grow: 1;
    text-align: center;
  }

  // last two divs
  > div:nth-last-child(-n + 2) {
    border-left: 1px solid $white;
  }
}
