@import '../variables';

.stream-services {
  background-color: $light-blue;
  color: $white;
  font-size: 150%;
  padding: 32px 0px 48px 96px;

  a {
    color: white;
  }

  .further-info {
    font-size: 12px;
  }
}
