@import '../variables';

.event-area {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  justify-content: space-around;
}

.event-date-container {
  border: 2px solid $light-blue;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
}

.event-title {
  color: $red;
  font-weight: bolder;
}

.event-title,
.event-line {
  line-height: 200%;
}
