#titlebar{
  background-color: rgb(146, 208, 80);
  color: white;
  font-family: "Segoe UI", Calibri, Candara, Segoe, Optima, Arial, sans-serif;
  padding-left: 8em;
}

#website-title {
  font-size: 80%;
}
