.home-page-bottom-content {
  display: flex;
  font-family: var(--century-gothic);
  justify-content: space-around;
  min-width: 800px;
  padding-top: 5em; }

.home-square {
  display: inline-block;
  height: 200px;
  position: relative;
  width: 300px; }

.home-square.scroll {
  overflow-y: auto; }

.home-square h2 {
  border-bottom: 1px solid var(--green-50);
  color: var(--green-50);
  display: inline-block;
  font-size: 100%;
  line-height: 0.01em;
  text-transform: uppercase;
  width: 100%; }

.home-square h2 span {
  background: white;
  padding-right: 1em; }

.home-square img {
  width: 100%;
  height: auto;
  max-height: 90%; }
