@import '../../_variables.scss';

#menubar {
  align-items: center;
  display: flex;
  font-family: $calibri;
  font-size: 20px;
  justify-content: space-between;
  min-width: 800px;
  padding: 16px 16px;
  text-transform: uppercase;
  flex: 0 0 auto;
}

#menubar ul {
  align-content: center;
  display: flex;
  justify-content: space-between;
  min-width: 800px;
  margin: auto;
  margin: 0;
  padding: 3px 0;
  list-style-type: none;
  text-align: left;
  width: 80%;
}

#menubar li {
  display: flex;
  margin-top: 0px;
  padding: 0 8px;
  text-align: center;
}

#menubar li:last-child {
  color: $green-80;
}

#menubar li:last-child a,
#menubar li:last-child a:visited {
  color: $green-80;
}

#menubar li a,
#menubar li a:visited {
  color: black;
  text-align: center;
  text-decoration: none;
}

#menubar li.current-page-link a,
#menubar li.current-page-link a:visited {
  color: $orange;
}

#menubar li a:hover {
  text-decoration: underline;
}

.logo {
  width: 10%;
}

.logo img {
  width: 100%;
}
