@import '../../../_variables.scss';

.ce-left-links {
  // display: inline-block;
  font-family: $century-gothic;
  line-height: 200%;
  text-transform: uppercase;
  padding-right: 4em;
}

.ce-left-links a,
.ce-left-links a:visited {
  color: $green-50;
}

.ce-left-links .current-page-link a,
.ce-left-links .current-page-link a:visited {
  color: $orange;
  font-weight: bolder;
}

.ce-left-links ul ul {
  padding-left: 1em;
}

.ce-left-links > ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
