.calendar-page {
  padding: 0 1em 0 1em;
}
.calendar-page h1 {
  color: var(--orange);
  font-family: var(--century-gothic);
  font-weight: normal;
}

#calendar-menu {
  display: block;
  margin: 16px 0;
  padding: 0;
  position: relative;
}
#calendar-menu ul {
  box-sizing: border-box;
  display: inline-block;
  justify-content: flex-start;
  min-width: initial;
  padding: 0;
  width: initial;
}
#calendar-menu li {
  border: none;
  display: inline-block;
}
#calendar-menu li a,
#calendar-menu li a:visited {
  color: var(--green-20);
  padding: 0 12px;
  text-align: center;
  text-decoration: none;
}
#calendar-menu li.current-page-link {
  border: 1px solid var(--gray217);
  border-bottom: none;
}
#calendar-menu li:not(.current-page-link) {
  border-bottom: 1px solid var(--gray217);
}
#calendar-menu li.current-page-link a,
#calendar-menu li.current-page-link a:visited {
  color: var(--black);
}
#calendar-menu .styling-div {
  bottom: 0;
  border-bottom: 1px solid var(--gray217);
  display: inline-block;
  position: absolute;
  width: 20%;
}

#calendar-div {
  margin: 0 auto;
  padding: 0 1em;
}

.controls-and-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.controls-and-title .drop-downs {
  width: 300px;
}
.controls-and-title .month-arrows {
  align-items: center;
  display: flex;
  justify-content: center;
}
.controls-and-title .month-arrows h2 {
  font-weight: normal;
  margin: 0.8em 1em;
  width: 150px;
  text-align: center;
}
.controls-and-title .empty-space {
  width: 300px;
}
.controls-and-title button {
  background-color: var(--standard-background);
  border: none;
}
.controls-and-title button:hover {
  cursor: pointer;
}

.month-calendar-table {
  border-collapse: collapse;
  box-sizing: border-box;
}
.month-calendar-table th,
.month-calendar-table td {
  border: 3px solid var(--standard-background);
  padding: 5px;
}
.month-calendar-table th {
  font-weight: normal;
}
.month-calendar-table td.other-month {
  color: var(--gray180);
}
.month-calendar-table td {
  background-color: var(--peach);
  height: 75px;
  width: 150px;
}
.month-calendar-table td > div {
  width: 100%;
  height: 100%;
  padding: 5px;
}
.month-calendar-table td > div .date-area {
  padding-bottom: 8px;
}
.month-calendar-table td > div .events-area {
  font-size: 11px;
  height: 38px;
  overflow-y: auto;
}

.year-calendar-content {
  margin: auto;
}
.year-calendar-content h2 {
  font-weight: normal;
  text-align: center;
  margin-bottom: 0;
}

.year-calendar-months-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.yearly-calendar-month-wrapper {
  margin: 1em;
}
