.calendar-page {
  padding: 0 1em 0 1em;

  h1 {
    color: var(--orange);
    font-family: var(--century-gothic);
    font-weight: normal;
  }
}

#calendar-menu {
  display: block;
  margin: 16px 0;
  padding: 0;
  position: relative;

  ul {
    box-sizing: border-box;
    display: inline-block;
    justify-content: flex-start;
    min-width: initial;
    padding: 0;
    width: initial;
  }

  li {
    border: none;
    display: inline-block;
  }

  li a,
  li a:visited {
    color: var(--green-20);
    padding: 0 12px;
    text-align: center;
    text-decoration: none;
  }

  li.current-page-link {
    border: 1px solid var(--gray217);
    border-bottom: none;
  }

  li:not(.current-page-link) {
    border-bottom: 1px solid var(--gray217);
  }

  li.current-page-link a,
  li.current-page-link a:visited {
    color: var(--black);
  }

  .styling-div {
    bottom: 0;
    border-bottom: 1px solid var(--gray217);
    display: inline-block;
    position: absolute;
    width: 20%;
  }
}

#calendar-div {
  margin: 0 auto;
  padding: 0 1em;
}

.controls-and-title {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .drop-downs {
    width: 300px;
  }

  .month-arrows {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .month-arrows h2 {
    font-weight: normal;
    margin: 0.8em 1em;
    width: 150px;
    text-align: center;
  }

  .empty-space {
    width: 300px;
  }
  button {
    // would rather use "initial" but that doesn't work for IE11
    background-color: var(--standard-background);
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}

.month-calendar-table {
  border-collapse: collapse;
  box-sizing: border-box;

  th,
  td {
    border: 3px solid var(--standard-background);
    padding: 5px;
  }

  th {
    font-weight: normal;
  }

  td.other-month {
    color: var(--gray180);
  }

  td {
    background-color: var(--peach);
    height: 75px;
    width: 150px;
  }

  td > div {
    width: 100%;
    height: 100%;
    padding: 5px;
  }

  td > div .date-area {
    padding-bottom: 8px;
  }

  td > div .events-area {
    font-size: 11px;
    height: 38px;
    overflow-y: auto;
  }
}

.year-calendar-content {
  margin: auto;

  h2 {
    font-weight: normal;
    text-align: center;
    margin-bottom: 0;
  }
}

.year-calendar-months-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.yearly-calendar-month-wrapper {
  margin: 1em;
}
