@import '../../../_variables.scss';

.events-list-page {
  .header-and-events {
    display: inline-block;

    h2 {
      font-weight: normal;
    }

    h2:not(:last-child) {
      margin-bottom: 4px;
    }

    h3 {
      color: var(--gray180);
      font-weight: normal;
      font-size: 15px;
      margin-top: 4px;
      margin-bottom: 16px;
      text-transform: uppercase;
    }
  }

  .day-event {
    margin-bottom: 2em;
    padding: 0 1em;

    .title {
      color: var(--green-20);
    }

    .time-start {
      font-weight: bolder;
      margin-top: 0.5em;
    }

    .time-end {
      font-weight: bolder;
      font-size: 80%;
    }

    .location {
      margin-top: 0.5em;
      color: var(--gray83);
    }

    .long-description {
      margin-top: 0.5em;
    }
  }

  .mini-calendar-wrapper {
    display: inline-block;
    margin: 2em;
  }
}
