.mini-calendar {
  width: 400px;

  .controls-and-month-name {
    color: var(--green-20);
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    margin-bottom: 1em;

    &.no-controls {
      justify-content: center;
      margin-bottom: 0.3em;
    }

    i {
      color: var(--black);
      border: 1px solid gray;
      border-radius: 10px;
      padding: 0 5px;
    }
  }

  table {
    border-collapse: collapse;
    box-sizing: border-box;
    margin: auto;
    table-layout: fixed;
    width: 100%;

    th,
    td {
      font-weight: normal;
      height: 40px;
      padding: 0;
      text-align: center;
      vertical-align: middle;

      &.other-month {
        color: var(--gray180);
      }

      &.has-events {
        background-color: var(--yellow);
      }

      &.clickable {
        cursor: pointer;
      }

      &.selected-day div {
        background-color: var(--black);
        border-radius: 20px / 20px;
        color: var(--white);
      }

      &.selected-week div {
        background-color: var(--black);
        color: var(--white);
      }
    }

    td.selected-week:first-child div {
      border-radius: 20px 0 0 20px;
      color: var(--white);
    }

    td.selected-week:last-child div {
      border-radius: 0 20px 20px 0;
      color: var(--white);
    }
  }
}
