@import '../../../_variables.scss';

.mini-calendar {
  width: 400px;

  .controls-and-month-name {
    color: $green-20;
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    margin-bottom: 1em;

    &.no-controls {
      justify-content: center;
      margin-bottom: 0.3em;
    }

    i {
      color: $black;
      border: 1px solid gray;
      border-radius: 10px;
      padding: 0 5px;
    }
  }

  table {
    border-collapse: collapse;
    box-sizing: border-box;
    margin: auto;
    table-layout: fixed;
    width: 100%;

    th,
    td {
      // border: 1px solid $black;
      font-weight: normal;
      height: 40px;
      padding: 0;
      text-align: center;
      vertical-align: middle;

      &.other-month {
        color: $gray180;
      }

      &.has-events {
        background-color: $yellow;
      }

      &.clickable {
        cursor: pointer;
      }

      &.selected-day div {
        background-color: $black;
        border-radius: 20px / 20px;
        color: $white;
      }

      &.selected-week div {
        background-color: $black;
        color: $white;
      }
    }

    td.selected-week:first-child div {
      border-radius: 20px 0 0 20px;
      color: $white;
    }

    td.selected-week:last-child div {
      border-radius: 0 20px 20px 0;
      color: $white;
    }
  }
}
