$arial: arial, helvetica, sans-serif;
$calibri: Calibri, 'Segoe UI', Candara, Segoe, Optima, Arial, sans-serif;
$cambria: cambria, georgia, 'bookman old style', 'times new roman', serif;
$century-gothic: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
$garamond: 'Adobe Garamond Pro', Garamond, Baskerville, 'Baskerville Old Face',
  'Hoefler Text', 'Times New Roman', serif;

$green-20: rgb(146, 208, 80);
$green-50: rgb(115, 175, 85);
$green-80: rgb(102, 158, 74);
$orange: orange;
$gray41: rgb(41, 41, 41);
$gray63: rgb(63, 63, 63);
$gray77: rgb(77, 77, 77);
$gray83: rgb(83, 83, 83);
$gray95: rgb(95, 95, 95);
$gray180: rgb(180, 180, 180);
$gray217: rgb(217, 217, 217);
$black: black;
$white: white;
$red: red;
$yellow: yellow;
$maroon: maroon;
$green: green;
$gray: gray;

@mixin content-widths() {
  width: 80%;
  min-width: 800px;
  max-width: 1000px;
  margin: auto;
}
