$arial: arial, helvetica, sans-serif;
$calibri: 'Segoe UI', Calibri, Candara, Segoe, Optima, Arial, sans-serif;
$cambria: cambria, georgia, 'bookman old style', 'times new roman', serif;
$century-gothic: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
$garamond: 'Adobe Garamond Pro', Garamond, Baskerville, 'Baskerville Old Face',
  'Hoefler Text', 'Times New Roman', serif;

$main-green: RGB(146, 208, 80);
$darker-green: rgb(115, 175, 85);
$last-link-green: RGB(102, 158, 74);
$orange: orange;
$RGB77: RGB(77, 77, 77);
$RGB63: RGB(63, 63, 63);
$RGB95: RGB(95, 95, 95);
