@import './_variables.scss';

html {
  height: 100%;
  font-family: $century-gothic;
}

body {
  background-color: $white;
  color: $black;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

input[type='radio'] {
  box-shadow: none;
}

#root {
  height: 100%;
}

#top-react-div {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

#main-menu-bar {
  text-transform: uppercase;

  li a,
  li a:visited {
    color: $black;
    text-align: center;
    text-decoration: none;
  }

  li.current-page-link a,
  li.current-page-link a:visited {
    color: $orange;
  }

  li a:hover {
    text-decoration: underline;
  }

  li:last-child {
    color: $green-80;
  }

  li:last-child a,
  li:last-child a:visited {
    color: $green-80;
  }
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

#leftcontent {
  @include content-widths();
  font-family: $calibri;
  color: $gray63;

  h1 {
    display: inline-block;
    padding-bottom: 5px;
    padding-right: 100px;
    margin-left: 1em;
    margin-bottom: 2em;
    border-bottom: 1px solid $green-50;
    font-family: $calibri;
    font-size: 80%;
    text-transform: uppercase;
    color: $green-20;
    font-weight: normal;

    span {
      font-size: 150%;
      color: $green-50;
    }
  }

  p,
  ol,
  ul {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
  }

  ol,
  ul {
    padding-left: 4em;
  }
}

.float-left-image {
  float: left;
  margin-right: 0.5em;
  width: 100px;
}

/* Contain floats. */
.cf:before,
.cf:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/* Contain floats *and margins*. */
.cfm:before,
.cfm:after {
  content: ' ';
  display: table;
}
.cfm:after {
  clear: both;
}

/*General  */
.clear {
  clear: both;
}

/*************** Font Family ************/
.gill {
  font-family: 'gill sans mt', arial, sans-serif;
}
.candara {
  font-family: 'candara', 'trebuchet ms', helvetica, sans-serif;
}
.verdana {
  font-family: verdana, geneva, sans-serif;
}
.clear {
  clear: both;
}
.italic {
  font-style: italic;
}
.center {
  text-align: center;
}
.topofview {
  position: fixed;
  top: 1em;
}
.thin {
  font-weight: lighter;
}
.maroon {
  color: $maroon;
}
.bold {
  font-weight: bolder;
}
.black {
  color: $black;
}
.white {
  color: $white;
}
.gray {
  color: $gray41;
}
