@import './_variables.scss';

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#root {
  height: 100%;
}

#top-react-div {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

// #maincontent {
//   @include content-widths();
//   flex: 1 0 auto;

//   &.welcome-page-main-content {
//     width: 100%;
//     max-width: none;
//   }
// }

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

#leftcontent {
  @include content-widths();
  font-family: $calibri;
  color: $RGB63;

  h1 {
    display: inline-block;
    padding-bottom: 5px;
    padding-right: 100px;
    margin-left: 1em;
    margin-bottom: 2em;
    border-bottom: 1px solid RGB(115, 175, 85);
    font-family: $calibri;
    font-size: 80%;
    text-transform: uppercase;
    color: $main-green;
    font-weight: normal;

    span {
      font-size: 150%;
      color: RGB(115, 175, 85);
    }
  }

  p,
  ol,
  ul {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
  }

  ol,
  ul {
    padding-left: 4em;
  }
}

// form {
//   border: 1px solid $RGB95;
//   padding: 1em 10%;

//   input[type='text'],
//   input[type='email'],
//   input[type='tel'],
//   textarea,
//   select {
//     border: 1px solid gray;
//     width: 99%;
//     color: $RGB63;
//   }

//   select {
//     width: 150px;
//   }

//   textarea {
//     height: 120pt;
//     border: 1px solid gray;
//   }

//   button {
//     display: block;
//     text-align: center;
//     margin: auto;
//     background-color: RGB(178, 178, 178);
//   }
// }

// #leftform {
//   margin: auto;
//   padding-top: 2em;
//   width: 400px;
//   font-family: $calibri;
//   font-size: 10pt;
//   color: $RGB95;

//   h1 {
//     font-weight: normal;
//     margin: 0.1em 0;
//     font-size: 24pt;
//   }

//   h2 {
//     font-family: $arial;
//     margin: 0.1em 0;
//     font-size: 12pt;
//     text-transform: uppercase;
//   }

//   p#bottomnote {
//     text-align: center;

//     font-size: 10pt;
//     font-family: century-gothic;
//     color: rgb(0, 204, 0);
//   }

//   a:visited {
//     color: $RGB95;
//   }
//   a {
//     color: $RGB95;
//   }
//   img {
//     display: block;
//     text-align: center;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }

// .opinionsent {
//   padding-top: 1em;
//   padding-bottom: 1em;
//   text-align: center;
// }

// #learnmore {
//   text-align: center;
//   font-size: 70%;
// }

// .valuedesc {
//   clear: left;
//   background-color: grey;

//   p {
//     float: right;
//     margin: 0px;
//     padding: 0.3em;
//     width: 12%;
//     font-size: 60%;
//     text-align: center;
//   }
// }

// .por

// .radiobutts {
//   float: right;
//   margin: 0px;
//   padding: 0.3em;
//   width: 12%;
//   font-size: 60%;
//   text-align: center;
// }

// .submit {
//   clear: both;
//   text-align: center;
// }

/* Contain floats. */
.cf:before,
.cf:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/* Contain floats *and margins*. */
.cfm:before,
.cfm:after {
  content: ' ';
  display: table;
}
.cfm:after {
  clear: both;
}

/*General  */
.clear {
  clear: both;
}

/*************** Font Family ************/
.gill {
  font-family: 'gill sans mt', arial, sans-serif;
}
.candara {
  font-family: 'candara', 'trebuchet ms', helvetica, sans-serif;
}
.verdana {
  font-family: verdana, geneva, sans-serif;
}
.clear {
  clear: both;
}
.italic {
  font-style: italic;
}
.center {
  text-align: center;
}
.topofview {
  position: fixed;
  top: 1em;
}
.thin {
  font-weight: lighter;
}
.maroon {
  color: maroon;
}
.bold {
  font-weight: bolder;
}
.black {
  color: black;
}
.white {
  color: white;
}
.gray {
  color: rgb(41, 41, 41);
}
