@import './_variables.scss';

#ce-page {
  margin-left: 4em;
  font-family: $calibri;
  font-size: 18px;
  color: $gray63;

  h1 {
    border-bottom: 1px solid $green-50;
    color: $green-20;
    display: block;
    padding-bottom: 5px;
    font-family: $century-gothic;
    font-size: 110%;
    font-weight: normal;
    margin-bottom: 2em;
    text-transform: uppercase;
    width: 400px;

    .emphwelcomeline {
      font-size: 130%;
      color: $green-80;
    }
  }

  .vision-quote {
    font-weight: bold;
    font-style: italic;
  }

  .ce-page-links-content {
    display: flex;
    align-content: stretch;
  }

  .ce-page-left-content {
    flex-shrink: 0;
    max-width: 30%;
    min-width: 200px;
  }

  .ce-page-right-content {
    display: inline-block;
    vertical-align: top;
    // max-width: 700px;
  }

  h2 {
    color: $green-20;
    font-family: $century-gothic;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 1em;
    text-transform: uppercase;

    &.yeargin-name {
      text-transform: none;
      margin-bottom: 0;
    }
  }

  .h2-sub {
    color: $green-50;
    font-family: $arial;
    margin: 0;
    padding: 0.2em;
    text-transform: uppercase;
  }

  .ce-list-half {
    display: inline-block;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    vertical-align: top;
    width: 315px;

    li {
      .title {
        font-size: 80%;
      }

      .title::before {
        content: ', ';
      }
    }
  }
}
