@import '../../../_variables.scss';

.checklist-pattern {
  display: inline-block;
  margin: 0.5em 3em 0.5em 0;
  vertical-align: top;

  & > label {
    color: $darker-green;
    display: block;
    margin-bottom: 8px;
  }
}
