@import '../../../_variables.scss';

#bottomquote {
  @include content-widths();
  padding-top: 3em;
  padding-bottom: 2em;
  text-align: center;
  font-family: $cambria;
  font-style: italic;
  color: $gray;
  flex: 0 0 auto;
}
