@import '../../../_variables.scss';

#bottomquote {
  @include content-widths();
  padding-top: 3em;
  padding-bottom: 2em;
  text-align: center;
  font-family: var(--cambria);
  font-style: italic;
  color: var(--gray);
  flex: 0 0 auto;
}
